
// GRID OF ITEM
.FaceGameGrid {
    z-index: 9999;
    width: 80vw;
    height: 40vh;
    margin: 5px;
    margin-top:20px;
    div {
      display: inline-block;
      float: left;
    }
  
    div.placeholder {
      width: 48px;
      height: 48px;
      float: left;
      border: 1px solid #333;
      border-radius: 5px;
    }
    &.bottom {
      bottom: 0;
    }
    &.top {
      top: 0;
    }
    img {
      width: 100%;
    }
  }
  // IMAGE DES ITEMS
  #x1 {
    background: url(../../assets/img/1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x2 {
    background: url(../../assets/img/2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x3 {
    background: url(../../assets/img/3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x4 {
    background: url(../../assets/img/4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x5 {
    background: url(../../assets/img/5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x6 {
    background: url(../../assets/img/6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x7 {
    background: url(../../assets/img/7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x8 {
    background: url(../../assets/img/8.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #x9 {
    background: url(../../assets/img/9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x10 {
    background: url(../../assets/img/10.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x11 {
    background: url(../../assets/img/11.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x12 {
    background: url(../../assets/img/12.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x13 {
    background: url(../../assets/img/13.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #x14 {
    background: url(../../assets/img/14.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x15 {
    background: url(../../assets/img/15.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x16 {
    background: url(../../assets/img/16.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x17 {
    background: url(../../assets/img/17.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x18 {
    background: url(../../assets/img/18.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x19 {
    background: url(../../assets/img/19.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x20 {
    background: url(../../assets/img/20.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x21 {
    background: url(../../assets/img/21.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x22 {
    background: url(../../assets/img/22.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x23 {
    background: url(../../assets/img/23.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x24 {
    background: url(../../assets/img/24.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x25 {
    background: url(../../assets/img/25.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x26 {
    background: url(../../assets/img/26.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x27 {
    background: url(../../assets/img/27.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x28 {
    background: url(../../assets/img/28.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x29 {
    background: url(../../assets/img/29.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #x30 {
    background: url(../../assets/img/30.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  